!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title= t('project_title')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
  %body
    = render partial: 'header'
    .container
      .row
        .col-sm
          - if flash.present?
            #flash-messages
              - flash.each do |type, message|
                .alert.alert-dismissable{ class: "alert-#{type}", role: :alert }
                  = message
                  %button.close{ type: :button, data: { dismiss: :alert }, aria: { label: 'Close' } }
                    %span{ aria: { hidden: true } } &times;
          = yield
